<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ 'neoloc-logo.png' | theme_image_url }}">

    <title>Néoloc votre location meublée à Lyon</title>
    <meta name="description" content="Néoloc propose des locations de studios, appartements, colocations meublés et clés en main à Lyon, Oullins, Villeurbanne, Saint-Genis-Laval. Tous les logements sont rénovés et équipés pour faciliter l’installation des locataires.">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Néoloc votre location meublée à Lyon" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.neoloc.immo/" />
    <meta property="og:image" content="https://locomotive-app.s3.eu-west-1.amazonaws.com/sites/5d0c8eac7b2f6c0004976057/theme/images/neoloc-logo.png" />
    <meta property="og:description" content="Néoloc propose des locations de studios, appartements, colocations meublés et clés en main à Lyon, Oullins, Villeurbanne, Saint-Genis-Laval. Tous les logements sont rénovés et équipés pour faciliter l’installation des locataires." />
    <meta property="og:site_name" content="Néoloc votre location meublée à Lyon" />


    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "site" %>

  </head>
  <body>
    <div id="body-wrap">
      <%= yield %>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145087232-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-145087232-1');
    </script>
  </body>
</html>
