<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p>&copy; Néoloc 2021 </p>
      </div>
      <div class="col-md-3">
        <a href="mentions">Mentions Légales</a>
      </div>
      <div class="col-md-3">
        <a href="tel:06 19 18 95 66">Tél : 06 19 18 95 66</a>
      </div>
      <div class="col-md-3">
        <a href="mailto:hello@neoloc.immo">hello@neoloc.immo</a>
      </div>
    </div>
  </div>
</footer>
