<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <%= image_tag("neoloc-logo-02.svg", :class => "d-inline-block align-top", :style => "height: 70px" )%>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="tel:06 19 18 95 66" class="btn btn-primary">
            <%= image_tag("icon-blanc-phone.svg", :style => "height: 20px")%>
            06 19 18 95 66
          </a>
        </li>
        <li>
          <a href="/dossier" class="btn btn-primary">Trouver mon appart</a>
        </li>
        <li>
          <a href="https://neoloc.mygercop.com" class="btn btn-outline-primary">Intranet Locataire/Propriétaire </a>
        </li>
        <li>
          <a href="/contact" class="btn btn-outline-primary">Nous contacter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
